<!-- Блок "Наши мастера" -->
<section class="team-section">
    <p>для настоящих ценителей атмосферы</p>
    <h2>Наши мастера</h2>
    <ul class="team-list">
        <li class="team-item">
            <img src="" alt="">
            <h3 class="team-name">John Smith</h3>
            <p class="team-profession">Extreme Barber</p>
            <ul class="social">
                <li class="social-item">
                    <a class="social-link" href="">
                        <svg class="social-icon">
                            <use>
                        </svg>
                    </a>
                </li>  
            </ul>
        </li>
        <li class="team-item">
            <img src="" alt="">
            <h3 class="team-name">Michele Doe</h3>
            <p class="team-profession">Extreme Barber</p>
            <ul class="social">
                <li class="social-item">
                    <a class="social-link" href="">
                        <svg class="social-icon">
                            <use>
                        </svg>
                    </a>
                </li>  
            </ul>
        </li>
        <li class="team-item">
            <img src="" alt="">
            <h3 class="team-name">Alan Black</h3>
            <p class="team-profession">Extreme Barber</p>
            <ul class="social">
                <li class="social-item">
                    <a class="social-link" href="">
                        <svg class="social-icon">
                            <use>
                        </svg>
                    </a>
                </li>  
            </ul>
        </li>
    </ul>
</section>